@mixin flex-container($jc: space-between){
    display: flex;
    justify-content: $jc;
    align-items: center;
}

nav {
    @include flex-container();
    padding: 24px 160px;
    
    >img {
        width: 64px;
        height: 64px;
    }
    >div {
       @include flex-container($jc: flex-end);
        flex:1;
        margin-left: 24px;
        gap: 5%;
        >a {
            &:hover{
                color: red;
            }
        }
        >div {
           @include flex-container();
        }
    }
}

a {
    text-decoration: none;
    color: white;
}

.tel-btn {
    background-color: #9f0908;
    border-radius: 10px;
    border: 1px solid white;
    padding: 10px;
    height: 32px
}

.tel-icon {
    width: 24px;
}