@mixin flex-container($jc: space-between){
    display: flex;
    justify-content: $jc;
    align-items: center;
}

nav {
    @include flex-container();
    padding: 24px 160px;
    @media (max-width: 1000px) {
        padding:24px 24px;
    }
    @media (max-width: 450px) {
        padding:16px 16px;
    }
    
    >img {
        width: 64px;
        height: 64px;
        @media (max-width: 450px) {
        width: 40px;
        height: 40px;
    }
    
    }
    >div {
       @include flex-container($jc: flex-end);
        flex:1;
        margin-left: 24px;
        gap: 5%;
        >a {
            &:hover{
                color: red;
            }
        }
        >div {
           @include flex-container();
        }
    }
}

a {
    text-decoration: none;
    color: white;
}

.mobile-none {
    @media (max-width: 1000px) {
        display: none;
    }
}

.tel-btn {
    background-color: #9f0908;
    border-radius: 10px;
    border: 1px solid white;
    padding: 10px;
    height: 32px;
    &:hover {
        cursor: pointer;
        background-color: #cd0c0c;
        }
    @media (max-width: 450px) {
        height: 20px;
        > a {
            font-size: 16px;
        }
    }
}

.tel-icon {
    width: 24px;
}