section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    width: 100%;
}

h2 {
    color: #9f0908;
    font-size: 80px;
}

.adress-container {
    display: flex;
    align-items: center;
    margin-bottom: 64px;
    > img {
        width: 24px;
    }
    > span {
        font-size: 24px;
    }
}

.map {
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.map-consent-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 600px;
    height: 450px;
    gap: 32px;
    background-color: #aeacac67;
}

button {
    background-color: #9F0908;
    color: white;
    border-radius: 10px;
    border: 6px;
    border: solid white 1px;
    padding: 10px;
    gap: 10px;
    height: 50px;
    width: 210px;
    font-size: 16px;
    margin-bottom: 24px;
    &:hover {
        cursor: pointer;
        background-color: #cd0c0c;
    }
}