footer {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    height: 144px;
    margin-top: 16px;
    @media(max-width: 450px) {
           height: 86px;
        }
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 24px 160px;
    width: 100%;
    @media(max-width: 1000px) {
            padding: 50px 24px;
        }
    @media(max-width: 450px) {
            padding: 16px 16px;
        }
    > .logo-footer {
        height: 44px;
        @media(max-width: 1000px) {
            height: 36px;
        }
        @media(max-width: 560px) {
            display: none;
        }
    }
}

.mobile-logo {
    display: none;
    @media(max-width: 560px) {
            display: flex;
            width: 40px;
            height: 40px;
        }
}

.footer-right-corner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    // margin-right: 160px;
    > a {
        cursor: pointer;
        text-decoration: none;
        color: white;
        font-size: 20px;
        font-weight: bold;
        @media(max-width: 450px) {
             font-size: 16px;
        }
    }
}

.social-media-container {
    display: flex;
    gap: 8px;
    > img {
        width: 40px;
        height: 40px;
        @media(max-width: 450px) {
            width: 25px;
            height: 25px
        }
    }
    @media(max-width: 450px) {
    
    }
}
