<section class="fontRaleway">
  <div class="imprint-overlay">
    <button class="fontRaleway">
      <a href="#main-content">Back</a>
    </button>
    <h1>Legal Notice</h1>
    <p>Information in accordance with Section 5 DDG</p><br>
    <p>
      Dr. Michelle Puschkarow<br />
      Waldingstraße 6<br />
      22391 Hamburg<br />
    </p>
    <p><br>
    <p>
      <strong>Contact:</strong><br />
      Phone: 0157-36616303<br />
      Email: <a href="mpuschkarow&#64;web.de">mpuschkarow&#64;web.de</a><br />
    </p><br>
    <p>
      <strong>Disclaimer:</strong><br /><br />

      <strong>Liability for Content</strong><br /><br />
      The contents of our pages have been created with the utmost care. However,
      we cannot guarantee the contents' accuracy, completeness or topicality. As
      a service provider, we are responsible for our own content on these pages
      according to general laws pursuant to § 7(1) DDG. According to §§ 8 to 10
      DDG, however, we are not obligated to monitor transmitted or stored
      third-party information or to investigate circumstances that indicate
      illegal activity. Obligations to remove or block the use of information
      under general laws remain unaffected by this. However, liability in this
      regard is only possible from the time of knowledge of a specific
      infringement. Upon becoming aware of such legal violations, we will remove
      the content immediately. <br>
      The website is intended solely for non-commercial and therefore private purposes 
      as a portfolio.<br /><br />

      <strong>Liability for Links</strong><br /><br />
      Our offer contains links to external websites of third parties on whose
      contents we have no influence. Therefore, we cannot assume any liability
      for these external contents. The respective provider or operator of the
      linked pages is always responsible for the content. The linked pages were
      checked for possible legal violations at the time of linking. Illegal
      contents were not recognizable at the time of linking. However, a
      permanent content control of the linked pages is not reasonable without
      concrete evidence of a violation of the law. Upon notification of
      violations, we will remove such links immediately.<br /><br />

      <strong>Data Protection</strong><br /><br />
      The use of our website is usually possible without providing personal
      data. If personal data (such as name, address or email address) is
      collected on our pages, this is always done on a voluntary basis as far as
      possible. This data will not be passed on to third parties without your
      express consent.<br />
      This website uses Google Maps to display interactive maps and to provide directions.
      The map content will only be loaded after consent was given to use Google Maps.
      The legal basis for this data processing is your consent in accordance with Art. 6 (1) (a) GDPR 
      and, if applicable, § 25 (1) TTDSG. Giving consent means that a connection to Google's servers 
      will be established.<br>
      <br> 
      In this context, personal data (e.g., your IP address) may be transmitted to Google LLC 
      in the United States. Please note that the level of data protection in non-EU countries such as 
      the USA may not be equivalent to that within the EU.
      For more information, please refer to <a href="https://policies.google.com/privacy" target="_blank" rel="noopener noreferrer">Google's Privacy Policy</a>.
      Your selection will be stored locally in your browser (via cookie or local storage) to record your consent and to enable the map to be displayed automatically in the future. This information is stored for a duration of 1 year.   
      You can withdraw your consent at any time by <a href="#maps-consent-reset" (click)="resetConsent($event)" class="reset-consent-link">clicking here: "reset my consent"</a> or by changing your privacy settings.<br>
      <br>
      We point out that data transmission over the Internet (e.g., communication
      by email) may have security vulnerabilities. A complete protection of data
      against access by third parties is not possible.<br>
      The use of contact data published in the context of the legal notice
      obligation by third parties for sending unsolicited advertising and
      information materials is hereby expressly prohibited. The operators of the
      pages expressly reserve the right to take legal action in the event of
      unsolicited advertising information, such as spam emails.<br />
    </p>
    <br />
    Created with
    <a href="https://impressum-generator.de" rel="dofollow"
      class="links">Impressum-Generator.de</a
    >, the tool for legal notice and
    <a
      href="https://impressum-generator.de/datenschutz-generator"
      rel="dofollow"
      class="links">privacy policy</a
    >. Based on a template by
    <a href="https://www.kanzlei-hasselbach.de/" rel="dofollow"
      class="links">Kanzlei Hasselbach</a
    >.
  </div>
</section>
