<section>
    <h2 class="fontRaleway">OUR MENU</h2>
    <div>
        <div class="menu">
            <img src="assets/img/R1.png" alt="Tonkotsu Ramen image">
            <div class="menu-table">
                <span class="fontEconomica">Tonkotsu Ramen</span>
                <table>
                <tr class="fontRaleway">
                    <td>CHICKEN</td>
                    <td class="td-prices">11.95 €</td>
                </tr>
                <tr class="fontRaleway">
                    <td>BEEF</td>
                    <td class="td-prices">12.95 €</td>
                </tr>
                <tr class="fontRaleway">
                    <td>SHRIMP</td>
                    <td class="td-prices">13.95 €</td>
                </tr>
            </table>
        </div>
        </div>
        <div class="menu menu-reverse" >
            <img src="assets/img/R2.png" alt="Spicy Miso Ramen image">
            <div class="menu-table">
                <span class="fontEconomica">Spicy Miso Ramen</span>
                <table>
                    <tr class="fontRaleway">
                        <td>CHICKEN</td>
                        <td class="td-prices">11.95 €</td>
                    </tr>
                    <tr class="fontRaleway">
                        <td>BEEF</td>
                        <td class="td-prices">12.95 €</td>
                    </tr>
                    <tr class="fontRaleway">
                        <td>SHRIMP</td>
                        <td class="td-prices">13.95 €</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="menu">
            <img src="assets/img/R3.png" alt="Shio Ramen image">
            <div class="menu-table">
                <span class="fontEconomica">Shio Ramen</span>
                <table>
                    <tr class="fontRaleway">
                        <td>CHICKEN</td>
                        <td class="td-prices">11.95 €</td>
                    </tr>
                    <tr class="fontRaleway">
                        <td>BEEF</td>
                        <td class="td-prices">12.95 €</td>
                    </tr>
                    <tr class="fontRaleway">
                        <td>SHRIMP</td>
                        <td class="td-prices">13.95 €</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>
