<section>
    <h2 class="fontRaleway">OUR MENU</h2>
    <div>
        <div class="menu">
            <img src="assets/img/R1.png" alt="Tonkotsu Ramen image">
            <table >
                <th class="fontEconomica">Tonkotsu Ramen</th>
                <tr class="fontRaleway">
                    <td>CHICKEN</td>
                    <td class="td-prices">11.95 €</td>
                </tr>
                <tr class="fontRaleway">
                    <td>BEEF</td>
                    <td class="td-prices">12.95 €</td>
                </tr>
                <tr class="fontRaleway">
                    <td>SHRIMP</td>
                    <td class="td-prices">13.95 €</td>
                </tr>
            </table>
        </div>
        <div class="menu menu-reverse" >
            <img src="assets/img/R2.png" alt="Spicy Miso Ramen image">
            <table>
                <th class="fontEconomica">Spicy Miso Ramen</th>
                <tr class="fontRaleway">
                    <td>CHICKEN</td>
                    <td class="td-prices">11.95 €</td>
                </tr>
                <tr class="fontRaleway">
                    <td>BEEF</td>
                    <td class="td-prices">12.95 €</td>
                </tr>
                <tr class="fontRaleway">
                    <td>SHRIMP</td>
                    <td class="td-prices">13.95 €</td>
                </tr>
            </table>
        </div>
        <div class="menu">
            <img src="assets/img/R3.png" alt="Shio Ramen image">
            <table>
                <th class="fontEconomica">Shio Ramen</th>
                <tr class="fontRaleway">
                    <td>CHICKEN</td>
                    <td class="td-prices">11.95 €</td>
                </tr>
                <tr class="fontRaleway">
                    <td>BEEF</td>
                    <td class="td-prices">12.95 €</td>
                </tr>
                <tr class="fontRaleway">
                    <td>SHRIMP</td>
                    <td class="td-prices">13.95 €</td>
                </tr>
            </table>
        </div>
    </div>
</section>
