.flex-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

section {
    @extend .flex-box;
    padding: 120px 160px;
}

h2 {
    font-size: 80px;
    color: #9f0908;
    margin-bottom: 64px;
}

.content {
    display: flex;
    justify-content: space-between;
    width: 100%
}

.order-subsections {
    @extend .flex-box;
    padding: 0 64px;
    font-weight: bolder;
    > img {
        width: 128px;
        height: 128px;
        margin-bottom: 16px;
    }
    > span {
        font-size: 56px;
        font-weight: 900;
    }
    > p {
        font-size: 56px;
        font-weight: 900;
    }
}