<section>
    <h2 class="fontRaleway">HOW TO ORDER</h2>
    <div class="content">
        <div class="order-subsections">
            <img src="assets/img/noodle.png" alt="Cup of noodle icon">
            <span class="fontEconomica">Pich your</span>
            <p class="fontEconomica">noodle</p>
        </div>
        <div class="order-subsections">
            <img src="assets/img/broth.png" alt="Broth icon">
            <span class="fontEconomica">Pick your</span>
            <p class="fontEconomica">broth</p>
        </div>
        <div class="order-subsections">
            <img src="assets/img/egg.png" alt="Eggs icon">
            <span class="fontEconomica">Add your</span>
            <p class="fontEconomica">toppings</p>
        </div>
    </div>
</section>